@import "~normalize.css";
// @import "../fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body,
body > div,
body > div > div {
  min-height: 100%;
}

*,
body {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #000;
  font-family: "Source Sans Pro";
  font-weight: normal;
  font-size: 14px;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
